@import url('../../panel.css');

.custom-admin-pills .nav-link {
  color: #495057;
  border-radius: 8px;
  font-weight: 500;
}

.custom-admin-pills .nav-link.active {
  background: #0a2e1b;
  color: #ffffff;
  font-weight: 700;
}
